<h1 mat-dialog-title>Create a new ToDo Task</h1>
<div mat-dialog-content>

    <mat-form-field>
        <mat-label>Title</mat-label>
        <input placeholder="Title" matInput [(ngModel)]="data.taskTitle">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input placeholder="Description" matInput [(ngModel)]="data.taskDescription">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <input placeholder="Choose a category" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto" [(ngModel)]="data.taskCategory">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option['title']">
                {{option.title}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <br>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data">Confirm</button>
</div>